<div class="flex justify-center">
  <table class="border-collapse border border-slate-400 ...">
    <thead>
      <tr>
        <th class="border border-slate-300 w-20 ...">State</th>
        <th class="border border-slate-300 w-20 ...">A</th>
        <th class="border border-slate-300 w-20 ...">B</th>
        <th class="border border-slate-300 w-20 ...">C</th>
        <th class="border border-slate-300 w-20 ...">D</th>
        <th class="border border-slate-300 w-20 ...">E</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border border-slate-300 w-20 ...">A - 50</td>
        <td class="border border-slate-300 w-20 ...">40</td>
        <td class="border border-slate-300 w-20 ...">-10</td>
        <td class="border border-slate-300 w-20 ...">-10</td>
        <td class="border border-slate-300 w-20 ...">-10</td>
        <td class="border border-slate-300 w-20 ...">-10</td>
      </tr>
    </tbody>
  </table>
</div>
